.aboutme-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    border: 2px solid var(--borders-color);
}

.aboutme h2 {
    text-align: center;
}

.contact-box1 p,
.contact-box2 p {
  padding-left: 20px;
}

.contact-box1 section,
.contact-box2 section {
  padding:15px;
  text-align: center;
}

.contact-box1 h3, 
.contact-box2 h3 {
  color: var(--primary-font-color);
  padding-left: 20px;
}