.page-paragraph-content {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top:5px;
}

.guidepage-ending {
  margin-top:5px;
}

.page-paragraph-content h2 {
  color: var(--primary-font-color);
}

.page-paragraph-content p {
  font-size: 18px;
}

.page-buttons h2 {
  text-align: center;
}

.hide {
    display: none;
}

.x-button {
    position: relative;
    font-size: x-large;
    cursor: pointer;
    display:flex;
    justify-content: end;
}
