#fishlib {
  padding-bottom: 50px;
  color: var(--primary-font-color);
}

#fishlib {
  border-bottom: 3px solid var(--borders-color);
}

#gallery-item,
#galleryfish-item {
  text-align: center;
  background-color: var(--homepage-block-color);
  border: 2px solid var(--borders-color);
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}

.page-button-block img,
#gallery-item img,
#galleryfish-item img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.page-button-block a,
#gallery-item a,
#galleryfish-item a {
  text-decoration: none;
  color: var(--primary-font-color);
}

.page-button-block section:hover,
#gallery-item section:hover,
#galleryfish-item section:hover {
  color: var(--button-block-hover);
}

#gallery,
#galleryfish {
  margin-top: 30px;
  margin-bottom: 30px;
}

#gallery h2,
#galleryfish h2 {
  color: var(--primary-font-color);
}

@media (min-width: 768px) {
  #galleryfish,
  #gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
  }

  #gallery-item,
  #galleryfish-item {
    width: calc(24% - 10px);
    height: 275px;
    overflow: hidden;
    cursor: pointer;
  }

  #gallery-item img,
  #galleryfish-item img {
    height: 200px;
  }
}
