#flylib {
  padding-bottom: 50px;
  color: var(--primary-font-color);
}

#gallery,
#galleryfly {
  margin-top: 30px;
  margin-bottom: 30px;
}

#gallery h2,
#galleryfly h2 {
  color: var(--primary-font-color);
}

#gallery-item,
#galleryfly-item {
  text-align: center;
  background-color: var(--homepage-block-color);
  border: 2px solid var(--borders-color);
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}

.page-button-block img,
#gallery-item img,
#galleryfly-item img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.page-button-block section,
#gallery-item section,
#galleryfly-item section {
  text-decoration: none;
  color: var(--primary-font-color);
}

.page-button-block section:hover,
#gallery-item section:hover,
#galleryfly-item section:hover {
  color: var(--button-block-hover);
}

/* Pop Up */
/* code help from W3 Schools */
.modal-style {
  position: fixed;
  background-color: var(--secondary-background-color);
  border: 2px solid var(--borders-color);
  padding: 10px;
  z-index: 1;
  width: 90%;
  height: 94%;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* help from mdn web docs */
}

.modal-style h2 {
  color: var(--primary-font-color);
}

.modal-box-content-mainparagraph {
  padding-right: 10px;
}

.modal-box-content p {
  padding-right: 10px;
}

.modal-box-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  border: 2px solid var(--borders-color);
}

.modal-box-content .f-container img {
  flex: 1;
  max-height: 400px;
  max-width: 400px;
}

.modal-box-content .f-container div {
  flex: 2;
  padding-right: 10px;
}

.modal-style h2 {
  font-size: 24px;
}

.modal-style p {
  font-size: 20px;
}

@media (min-width: 768px) {
  #gallery-item {
    max-width: 100%;
    min-width: 100%;
    min-height: 275px;
    overflow: hidden;
    cursor: pointer;
  }

  #flies div {
    min-width:300px;
  }

  #flies {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    justify-content: space-around;
    margin-bottom:10px;
  }

  #gallery-item img {
    height: 200px;
  }
}
