li {
    list-style-type: none;
  }
  
  .ListItems {
    display: flex;
  }
  
  .ListItems img {
    padding-right: 20px;
    max-height: 32px;
    max-width: 32px;
  }
  
  .page-paragraph-box,
  page-list-box {
    padding: 10px;
  }
  
  .page-list-box {
    border: 2px solid var(--borders-color);
    margin-top: 20px;
    border-radius: 25px;
  }
  
  .page-list-box h3 {
    padding-left: 25px;
    color: var(--primary-font-color);
  }
  
  .page-list-box ul {
    padding-left: 25px;
  }
  
  @media (min-width: 768px) {
      .page-list-box {
        flex: 40%;
      }
  }
  