#gallery-item {
  text-align: center;
  background-color: var(--homepage-block-color);
  border: 2px solid var(--borders-color);
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}

.page-button-block img,
#gallery-item img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.page-button-block section,
#gallery-item section {
  text-decoration: none;
  color: var(--primary-font-color);
}

.page-button-block section:hover,
#gallery-item section:hover {
  color: var(--button-block-hover);
}

@media (min-width: 768px) {
  #gallery-item {
    max-width: 100%;
    min-width: 100%;
    min-height: 275px;
    overflow: hidden;
    cursor: pointer;
  }

  #spotlights div {
    min-width:300px;
  }

  #spotlights {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    justify-content: space-around;
    margin-bottom:10px;
  }

  #gallery-item img {
    height: 200px;
  }
}

