#gallery-spot-item {
  text-align: center;
  background-color: var(--homepage-block-color);
  border: 2px solid var(--borders-color);
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}

.page-button-block img,
#gallery-spot-item img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.page-button-block section,
#gallery-spot-item section {
  text-decoration: none;
  color: var(--primary-font-color);
}

.page-button-block section:hover,
#gallery-spot-item section:hover {
  color: var(--button-block-hover);
}

.spot-edit-button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--paragraph-alternate-box-color);
  color: var(--primary-font-color);
}

.spot-delete-button {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: var(--paragraph-alternate-box-color);
  color: var(--primary-font-color);
}

.spot-delete-button:hover, .spot-edit-button:hover {
  cursor: pointer;
  color:var(--secondary-font-color);
}

.spot-buttons {
  display:block;
  margin-left:auto;
  margin-right:auto;
}


@media (min-width: 768px) {
  #gallery-spot-item {
    width:300px;
    height:275px;
    overflow: hidden;
    cursor: pointer;
  }

  .spot-box {
    width: 300px;
    height: 200px;
  }

  #spotlights div {
    min-width:300px;
  }

  #spotlights {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    justify-content: space-around;
    margin-bottom:10px;
  }

  #gallery-spot-item img {
    width: 100%;
    height: 100%;
    object-fit:cover;
  }

  .spot-buttons {
    margin-top: 50px;
  }
}

